.profile-wrapper {
  position: relative;
  width: 100%;
  background-color: #0a0a0a;
  border: 1px solid #292929;
  border-radius: 0.25rem;
}
.details-wrapper {
  position: absolute;
  top: -56px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.view-on-github {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #e5e5e5;
  display: none;
  text-decoration: none;
  margin-right: 20px;
  margin-top: 15px;
}

.view-on-github:hover {
  color: #72f2e4;
}

.link-chain-icon {
  height: 19.2px;
  width: 24px;
  margin-left: 6px;
}
@media (min-width: 640px) {
  .view-on-github {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
