.error-container {
  position: absolute;
  max-width: 344px;
  width: 100%;
  height: 78px;
  right: 25px;
  bottom: 25px;
  background-color: #842323;
  border: 1px solid #cb7474;
  border-radius: 4px;
  padding: 21px 18px;
}

.error-p {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.error-link {
  cursor: pointer;
}
