.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-avatar {
  width: 112px;
  height: 112px;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.username {
  margin-top: 4px;
}

.view-on-github-mobile {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  display: flex;
  color: #e5e5e5;
}
.view-on-github-mobile:hover {
  color: #72f2e4;
}

@media (min-width: 640px) {
  .view-on-github-mobile {
  }
}
