.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-avatar {
  width: 112px;
  height: 112px;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.username {
  margin-top: 4px;
}
